#profile-page-background{
    align-content: center; 
    position: absolute; 
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1; 
    z-index: -1;
    background-attachment: fixed; 
}